

%p
  %b ID:
  = @event.id
%p
  %b Start date:
  = @event.start_date
%p
  %b Finish date:
  = @event.finish_date
%p
  %b Place:
  = @event.place
%p
  %b Town:
  = @event.town
%p
  %b Price:
  = @event.price
%p
  %b Email:
  = @event.email
%p
  %b Website:
  = @event.website
%p
  %b Phone:
  = @event.phone
%p
  %b User:
  = @event.user.name
%p
  %b Address:
  = @event.address
%p
  %b Des es:
  = @event.des_es
%p
  %b Des eu:
  = @event.des_eu
%p
  %b Des en:
  = @event.des_en
%p
  %b Des fr:
  = @event.des_fr
%p
  %b Title es:
  = @event.title_es
%p
  %b Title eu:
  = @event.title_eu
%p
  %b Title en:
  = @event.title_en
%p
  %b Title fr:
  = @event.title_fr
%p
  %b Province:
  = @event.province
%p
  %b Tickets:
  = @event.tickets
  
  thumb
  = image_tag @event.pic.url(:thumb)
  medieum
  = image_tag @event.pic.url(:medium)
  big
  = image_tag @event.pic.url(:big)
  origininal
  = image_tag @event.pic.url(:original)
  none
  = image_tag @event.pic.url
  #set_w
    #photo_box
      within a box
      = image_tag @event.pic.url(:big)

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path

#event_reminder
  %div
    -if @event.finish_date > Time.now
      -if @event.cancelled?
        %h2.capital{:style=>"color:red;"} This event has been cancelled
      -else
        -if (current_user && current_user.events.include?(@event))
          %h4  
            -if ((@event.start_date-Time.now)< 259146.01469397545)
              =t :reminder_soon
            -else
              = t :already_following_event
          =link_to 'Stop the reminder', not_remind_me_path(:id => @event.id)
        -else
          =link_to 'remind_me', remind_me_path(:id => @event.id)   
      -if I18n.locale.to_s =="es"
        .sp_translate
          =link_to I18n.t('add_translation'), new_translation_path(:id => @event.id)
      -else I18n.locale.to_s=="en"
        .en_translate
          =link_to I18n.t('add_translation'), new_translation_path(:id => @event.id)
#tabs
  %ul
    %li
      =link_to I18n.t("comment", :count=> @event.comments.count), '#tabs-1', :id=>'comments_count'
    %li
      =link_to I18n.t("interested", :count=> @event.users.count), '#tabs-2'
    %li
      =link_to "Event Info", '#tabs-3'
    %li
      =link_to "Map", '#tabs-4'
  #tabs-1
    -if current_user
      #new_comment_box
        #new_comment_form
          = form_for @comment, :remote => true do |f|
            = f.hidden_field :event_id
            %p
              %h3
                = f.label t :do_comment
              %br/
              = f.text_area(:body, :class=>"comment_box")
            %p
              = f.submit t :submit_comment
        #new_comment_user_photo
          -if current_user
            =image_tag(current_user.avatar.url(:thumb))
    -else
      %p
        %b Debes darte de alta en el sistema para poder comentar
        =render 'devise/sessions/new'
    #comment-notice 
    #comments
      = render :partial => @event.comments.order('created_at DESC'), :locals => { :list => true }
