


%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}<!DOCTYPE html>


%html
  %head
    %title Hikultura
    
    = stylesheet_link_tag    "application", :media => "all"
    
    = javascript_include_tag "application"
    = csrf_meta_tags
    
  %body
    #container
      #user_nav
        -if user_signed_in?
          Logged in as
          = current_user.email
          =link_to 'Edit profile', edit_user_registration_path
          |
          =link_to "Logout", destroy_user_session_path, method: :delete
        -else
          =link_to "Sign up", new_user_registration_path
          |
          =link_to 'Log in', new_user_session_path
          |
          = link_to "Log in with Facebook", user_omniauth_authorize_path(:facebook), id: "sign_in" 
    %p.notice= notice
    %p.alert= alert
    = yield
